@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

* {
   margin: 0;
   padding: 0;
}
body {
   text-align: center;
}

h1, h2 , h3{
   font-family: 'Open Sans', sans-serif;
}
p, li {
   font-family: 'Montserrat', sans-serif;
}
a {
   text-decoration: none;
   color: rgba(0, 0, 0, 1);
}

section {
   margin: 3rem 0;
   padding: 3rem 0;
}

.container {
   display: flex;
   justify-content: center;
   flex-direction: row;
}
.section-title {
   margin-bottom: 3rem;
}

/*HEADER*/
header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.8rem 3.5rem;
}
.logo {
   width: 30px;
   height: 30px;
}
.navbar__link {
   display: inline;
   margin: 0.2rem;
   padding: 0.3rem;
}
.navbar__link a {
   padding: 0.8rem;
   transition: all .3s ease-in-out;
}
.navbar__link a:hover {
   color: rgba(233, 233, 233, 1);
   background-color: rgba(140, 140, 140, 1);
}

/*FOOTER*/
footer {
   background-color: rgba(140, 140, 140, 1);
   display: flex;
   margin-top: 2rem;
   padding: 2rem 3.75rem;
   align-items: center;
   justify-content: space-around;
   text-align: left;
}
.footer__pages {
   margin: auto 0.85rem;
}
.footer__list {
   margin-top: 0.5rem;
}
.footer__link {
   list-style: none;
}

/*-----------------MAIN PAGE----------------------/
/*COVER-SECTION*/
#home {
   margin: 0;
   padding: 0;
}
.cover {
   width: 100%;
   height: 90vh;
}
.cover__img {
   width: inherit;
   height: inherit;
   object-fit: cover;
}
.cover__title {
   width: 40%;
   height: 40%;
   background-color: rgba(200, 222, 226, 1);
   position: relative;
   bottom: 80%;
   left: 4%;
   text-align: left;
}
.cover__title h1 {
   font-size: 2rem;
}
.cover__title p {
   font-size: 1.2rem;
   margin-top: 1rem;
}

/*SOBRE-NOSOTROS SECTION*/
.main-about-us {
   width: 90%;
   margin: 0 auto;
}

.main-card {
   display: flex;
   align-items: center;
   margin-top: 2.5rem;
}
.main-card__image {
   width: 100%;
}
.main-card__description {
   margin: auto 2rem;
   padding: 0.65rem;
   text-align: left;
}

/*OPINIONES SECTION*/
.opinion-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   grid-template-rows: 1fr;
   justify-content: center; 
   align-content: center; 
   justify-items: center; 
   align-items: center;
   width: 75%;
   margin: auto;
}
.opinion-card {
   background-color: rgb(228, 228, 228, 1);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 70%;
   height: 24rem;
   margin: 0 0.4rem;
   padding: 1.55rem;
}
.opinion-card__comment {
   margin-top: 2.5rem;
}
.opinion-card__pfp {
   width: 50%;
   border-radius: 50%;
}

/*CONTACTO SECTION*/
#contacto {
   margin-bottom: 1rem;
   padding-bottom: 1rem;
}
.contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 5rem 0;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/home-img-03.jpg);
   background-size: cover;
}
.contact h2 {
   color: rgb(233, 233, 233, 1);
}
.contact-input {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30%;
}
.contact-input__email {
   font-family: 'Montserrat', sans-serif;
   font-size: 100%;
   padding: 1px;
   margin: 0.5rem 0;
   width: 20rem;
   height: 27px;
   border-radius: 8px;
}
.contact-input__btn {
   width: 6rem;
   padding: 0.3rem;
   border-radius: 8px;
   font-size: 1rem;
   font-weight: 600;
}

/*-----------------ABOUT PAGE----------------------/
/*HISTORIA SECTION*/
#historia {
   margin: 0;
}
.about__block {
   margin: 2rem auto;
   width: 85%;
   height: 27rem;
}
.about__img {
   width: inherit;
   height: inherit;
   object-fit: cover;
}
.about__desc {
   margin: 1.75rem 5rem;
}

/*OBJECTIVOS SECTION*/
#objetivos {
   background-color: rgba(140, 140, 140, 1);
}
.objective-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   grid-template-rows: 1fr;
   justify-content: center; 
   align-content: center; 
   justify-items: center; 
   align-items: center;
   width: 90%;
   margin: auto;
}
.objective-card-1 {
   background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url(../assets/img/objetivo-01.jpg);
}
.objective-card-2 {
   background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url(../assets/img/objetivos-02.jpg);
}
.objective-card-3 {
   background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url(../assets/img/objetivos-03.jpg);
}
.objective-card-1, .objective-card-2, .objective-card-3 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 80%;
   height: 30rem;
   padding: 1.5rem;
   background-size: cover;
}
.objective-card__title {
   color: rgba(233, 233, 233, 1);
   font-size: 2em;
   text-align: center;
   margin-bottom: 4.5rem;
}
.objective-card__desc {
   color: rgba(233, 233, 233, 1);
   font-size: 1.15em;
   text-align: center;
   margin-top: 4.5rem;
}

/*-----------------SERVICE PAGE----------------------/
/*SERVICIOS SECTION*/
#servicios {
   margin: 0;
}
.service-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   grid-template-rows: repeat(3, 1fr); 
   gap: 0px 0px;
   justify-content: center; 
   align-content: center; 
   justify-items: center; 
   align-items: center; 
   width: 90%;
   margin: auto;
}
.service-category {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 80%;
   padding: 1rem;
   margin: 1.1rem 0;
   box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
   transition: all .4s ease-in-out;
}
.service-category:hover {
   transform: scale(1.04);
}
.service-category img {
   box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}
.service-category__desc{
   margin-left: 0.92rem;
   text-align: left;
}

/*PLANES SECTION*/
.plan-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   grid-template-rows: 1fr;
   justify-content: center; 
   align-content: center; 
   justify-items: center; 
   align-items: center;
   width: 90%;
   margin: auto;
}
.plan-card {
   border: 4px solid rgba(140, 140, 140, 1);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 70%;
   height: 25rem;
   margin: 0.7rem;
   padding: 1.55rem;
}
.plan-card__title {
   margin: 0.5rem 0;
}
.plan-card__desc {
   margin: 3.25rem 0 4rem 0;
}
.plan-card__desc p {
   padding: 0.4rem;
}
.plan-card__price {
   margin: 0.75rem 0;
}
.plan-card button {
   font-size: 1rem;
   font-weight: 600;
   width: 6rem;
   padding: 0.5rem;
   border-radius: 8px;
   background-color: rgb(38, 100, 194);
   color: rgba(233, 233, 233, 1);
   transition: all .3s ease-in-out;
}
.plan-card button:hover {
   color: rgba(0, 0, 0, 1);
   background-color: rgba(233, 233, 233, 1);
}

/*-----------------CONTACT PAGE*----------------------/
/*CONTACTO SECTION*/
.contact-block {
   width: 100%;
   margin: 0 auto;
   align-items: center;
   position: relative;
}
.form input {
   font-family: 'Montserrat', sans-serif;
   font-size: 100%;
   margin: 0 1.5rem 3.7rem 1.5rem;
   padding: 2px;
   width: 400px;
   height: 30px;
   border-radius: 8px;
}
.form textarea {
   width: 50rem;
   border-radius: 8px;
   padding: 4px;
   resize: none;
   font-family: 'Montserrat', sans-serif;
   font-size: 17px;
}

/*LOCALIDAD SECTION*/
.contact-block iframe {
   width: 100%;
   height: 400px;
}
.location-details {
   background-color: rgba(140, 140, 140, 1);
   width: 425px;
   height: 368px;
   padding: 1rem;
   text-align: left;
   position: absolute;
   top: 0;
   right: 10%;
}
.location-details .section-title{
   margin: 20px 0 40px 0;
}


/*------------------------MEDIA QUERIES----------------------------*/
/*------------------TABLET DISPLAY-------------------*/
@media screen and (max-width: 769px) {
   section {
      margin: 4rem 0;
   }
   .section-title {
      margin-bottom: 2rem;
   }
   h2 {
      font-size: 1.24rem;
   }
   h3 {
      font-size: 1rem;
   }
   main p {
      font-size: 0.8rem;
   }

   /*-------MAIN PAGE------*/
   /*COVER SECTION*/
   .cover {
      height: 80vh;
   }
   .cover__title h1 {
      font-size: 1.7rem;
   }
   .cover__title p {
      font-size: 1.1rem;
   }
   
   /*OPINIONES SECTION*/
   .opinion-grid {
      grid-template-columns: 1fr;
   }
   .opinion-card {
      width: 50%;
      height: 19rem;
      margin: 1rem 0;
   }
   .opinion-card__comment {
      font-size: 0.9rem;
   }
   .opinion-card__pfp {
      width: 35%;
   }

   /*CONTACTO SECTION*/
   .contact-input__btn {
      width: 4rem;
   }

   /*------ABOUT PAGE------*/
   /*OBJETIVOS SECTION*/
   .objective-grid {
      grid-template-columns: 1fr;
      row-gap: 1%;
   }
   .objective-card-1, .objective-card-2, .objective-card-3 {
      width: 60%;
      height: 19rem;
      background-position: 75%;
   }
   .objective-card__title {
      font-size: 1.4rem;
   }
   .objective-card__desc {
      font-size: 0.9rem;
   }

   /*-----SERVICE PAGE-----*/
   /*SERVICIOS SECTION*/
   .service-grid {
      width: 90%;
   }
   .service-category {
      display: block;
      margin: 1rem 0;
   }
   .service-category__desc {
      text-align: center;
   }
   .service-category__desc h3 {
      margin-bottom: 0.2rem;
   }

   /*PLANES SECTION*/
   .plan-grid {
      grid-template-columns: 1fr;
   }
   .plan-card {
      width: 40%;
      height: 17rem;
      margin: 1rem 0;
      padding: 1.4rem;
   }
   .plan-card__desc {
      margin: 2.5rem 0;
   }
   .plan-card__desc p {
      padding: 0.2rem;
   }
   .plan-card__price {
      margin: 0.25rem 0;
   }
   .plan-card button {
      padding: 0.35rem;
      font-weight: 500;
   }
}

/*----------------SMARTPHONE DIPLAY-------------------*/
@media screen and (max-width: 420px) {
   /*HEADER*/
   header {
      display: block;
      padding: 1.2rem 3.5rem;
   }
   .navbar__link {
      display: block;
      margin: 0.1rem;
      padding: 0.5rem;
   }

   /*FOOTER*/
   footer {
      display: block;
      margin-top: 2rem;
      padding: 2rem 3.75rem;
   }
   .footer__pages {
      margin: 1rem 0;
   }

   /*-------MAIN PAGE------*/
   /*COVER SECTION*/
   .cover__title {
      width: 50%;
      height: 30%;
      bottom: 70%;
   }
   .cover__title h1 {
      font-size: 1.3rem;
   }
   .cover__title p {
      font-size: 1rem;
   }

   /*SOBRE-NOSOTROS SECTION*/
   .main-card {
      flex-direction: column;
      width: 75%;
      margin: 1.3rem auto;
   }
   .main-card--reverse {
      flex-direction: column-reverse;
   }
   .main-card__description {
      margin: 1.3rem auto;
   }

   /*OPINIONES SECTION*/
   .opinion-card {
      flex-direction: row;
      justify-content: center;
      width: 90%;
      height: 8rem;
   }
   .opinion-card__pfp { 
      width: 3.7rem;
      margin-right: 1rem;
   }
   .opinion-card__comment {
      margin: 0;
      font-size: 0.8rem;
      text-align: left;
   }
   
   /*CONTACTO SECTION*/
   .contact-input {
      width: 60%;
   }
   .contact-input__email {
      width: 100%;
   }

   /*------ABOUT PAGE------*/
   .about__block {
      width: 100%;
   }

   /*-----SERVICE PAGE-----*/
   /*SERVICIOS SECTION*/
   .service-grid {
      display: block;
   }
   .service-category {
      display: flex;
      width: 90%;
      margin: 1rem auto;
   }

   /*PLANES SECTION*/
   .plan-grid {
      display: block;
   }
   .plan-card {
      width: 50%;
      margin: 1rem auto;
   }
   .plan-card__desc {
      left: 27%;
   }
   .plan-card button {
      top: 85%;
      right: 35%;
   }
}