%display-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   grid-template-rows: 1fr;
   justify-content: center;
   align-items: center;
   justify-items: center;
   align-content: center;
   width: 90%;
   margin: auto;
}