header {
   background-color: map-get($colores, "secundario");
}

nav.navbar {
   padding: .6rem;
}

.nav-link {
   color: map-get($colores, "negro");
   
   &:hover {
      background-color: map-get($colores, "gris-claro");
      border-radius: 8px;
      transition-duration: .3s;
   }
}