//COVER SECTION
#home {
   margin: 0;
   padding: 0;
}

.cover {
   @include tamaños(100%, 100vh);
   position: relative;
   background-image: url(../assets/img/home-img.jpg);
   background-size: cover;
   background-position: 55%;

   &__title {
      @include tamaños(40%, 40%);
      position: absolute;
      top: 10%;
      left: 5%;
      padding: 2rem;
      text-align: left;
      background-color: map-get($colores, "celeste")

      h1 { font-size: map-get($fuente-size, "x-grande"); }

      p {
         font-size: map-get($fuente-size, "mediano");
         margin-top: 3rem;
      }
   }

   @media screen and (max-width: $media-md) {
      height: 80vh;

      &__title {
         width: 50%;

         h1 { font-size: map-get($fuente-size, "grande"); }

         p {
            font-size: map-get($fuente-size, "pequeño");
            margin-top: 2rem;
         }
      }
   }

   @media screen and (max-width: $media-sm) {
      &__title {
         @include tamaños(60%, 40%);
         top: 5%;
         padding: .5rem;
      }
   }

   @media screen and (max-width: $media-mobile) {
      &__title {
         h1 { font-size: 1.4rem; }
      }
   }
}

//SOBRE-NOSOTROS SECTION
.main-card {
   align-items: center;
   margin: 3rem 0;

   @media screen and (max-width: $media-sm) {
      &__image { margin-bottom: 1.5rem; }
      &--reverse { flex-direction: column-reverse; }
   }

   @media screen and (max-width: $media-mobile) {
      margin: 1.3rem auto;
      
      &__description { margin: 1.3rem auto; }
   }
}

//OPINIONES SECTION
.opinion-card {
   height: 25rem;
   padding: 1.55rem;
   background-color: map-get($colores, "gris-claro");
   
   &__pfp { border-radius: 50%; }
   &__comment { margin-top: 2.5rem; }

   @media screen and (max-width: $media-md) {
      height: 19rem;
      margin: 1rem 0;

      &__comment { font-size: map-get($fuente-size, "x-pequeño"); }
   }

   @media screen and (max-width: $media-sm) {
      &.card {
         @include tamaños(90%, auto);
         flex-direction: row;
         justify-content: center;
         padding: 1rem;
      }

      &__pfp {
         margin-right: 1rem;
         object-fit: contain;
      }

      &__comment {
         margin: 0 0 0 .6rem;
         text-align: left;
      }
   }
}

//CONTACTO SECTION
.contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 5rem 0;
   background-image: linear-gradient(rgba($negro, .6), rgba($negro, .6)), url(../assets/img/home-img-03.jpg);
   background-size: cover;

   h2 { color: map-get($colores, "blanco") }
}

.contact-input {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30%;

   &__email {
      @include tamaños(20rem, 35px);
      margin: .5rem 0;
      padding: .5rem 0;
      font-family: $fuente-base;
      font-size: 100%;
      border-radius: 8px;
   }

   &__btn {
      @include estilo-btn;
      padding: .4rem .8rem;
      font-size: map-get($fuente-size, "pequeño");
      background-color: map-get($colores, "secundario");
      border-color: map-get($colores, "dorado-oscuro");

      &:hover {
         color: map-get($colores, "negro");
         background-color: map-get($colores, "blanco");
      }
   }

   @media screen and (max-width: $media-md) {
      &__btn { width: 4.5rem; }
   }

   @media screen and (max-width: $media-mobile) {
      width: 60%;

      &__email { width: 100% }
   }
}