//HISTORIA SECTION
#historia { padding: 2rem 0; }

.about {
   padding: 2rem 0;

   &__block {
      width: 85%;
      margin: 2rem auto;
   }

   &__img {
      width: inherit;
      object-fit: cover;
   }

   &__desc { margin: 1.75rem 5rem; }

   @media screen and (max-width: $media-mobile) {
      &__block { width: 100%; }
   }
}

//OBJETIVOS SECTION
#objetivos { 
   padding: 2rem 0;
   background-color: map-get($colores, "gris-claro");

   h2 { margin-bottom: 2rem; }
}

.objective-grid {
   @extend %display-grid;
   padding: 1.5rem 0;
   height: 35rem;

   @media screen and (max-width: $media-md) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 4%;
      height: 65rem;
   }

   @media screen and (max-width: $media-mobile) {
      height: 84.5rem;
   }
}

.objective-card {
   &-1,
   &-2,
   &-3 {
      @include tamaños(90%, 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      background-size: cover;
   }

   &-1 { background-image: linear-gradient(rgba($negro, .75), rgba($negro, .5)), url(../assets/img/objetivo-01.jpg); }
   &-2 { background-image: linear-gradient(rgba($negro, .75), rgba($negro, .5)), url(../assets/img/objetivos-02.jpg); }
   &-3 { background-image: linear-gradient(rgba($negro, .75), rgba($negro, .5)), url(../assets/img/objetivos-03.jpg); }

   &__title {
      margin-bottom: 4.5rem;
      color: map-get($colores, "blanco");
      font-size: map-get($fuente-size, "x-grande");
      text-align: center;
   }

   &__desc {
      margin-top: 4.5rem;
      color: map-get($colores, "blanco");
      font-size: map-get($fuente-size, "mediano");
      text-align: center;
   }

   @media screen and (max-width: $media-md) {
      &-1,
      &-2,
      &-3 {
         @include tamaños(80%, 19rem);
         background-position: 75%;
      }

      &__title { 
         margin-bottom: 3rem;
         font-size: map-get($fuente-size, "grande"); 
      }
      &__desc { 
         margin-top: 3rem;
         font-size: map-get($fuente-size, "pequeño"); 
      }
   }

   @media screen and (max-width: $media-mobile) {
      &-1,
      &-2,
      &-3 { 
         @include tamaños(100%, 25rem);
      }

      &__title { margin-bottom: 2rem; }
      &__desc { margin-top: 2rem; }
   }
}